[s1]
interpolation_weight: [0.33, 0.33, 0.34]
[s2]
interpolation_weight: [0.2, 0.4, 0.4]
[s3]
interpolation_weight: [0.4, 0.2, 0.4]
[s4]
interpolation_weight: [0.4, 0.4, 0.2]
[s5]
interpolation_weight: [0.1, 0.45, 0.45]
